@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/Inter/Inter_18pt-Light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/Inter/Inter_18pt-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 500;
  font-style: normal;
  src: url("/fonts/Inter/Inter_18pt-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/Inter/Inter_18pt-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  font-style: bold;
  src: url("/fonts/Estedad/Estedad-Bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  font-style: bold;
  src: url("/fonts/Inter/Inter_18pt-Black.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "copper";
  font-weight: 500;
  font-style: bold;
  src: url("/fonts/CoperPlate/fr13631856_Birds_of_Paradise .ttf") format("truetype");
  font-display: swap;
}


body,
button {
  font-family: "Inter" , "copper" !important;
}

* {
  -webkit-user-select: auto;
}

/*  PREVENT TEXT SIZE SCALLING */

/* iPhone, portrait & landscape. */
@media all and (max-device-width: 480px) {

  html,
  body,
  p {
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
}

/* iPad, portrait & landscape. */
@media all and (min-device-width: 768px) and (max-device-width: 1024px) {

  html,
  body,
  p {
    text-size-adjust: none !important;
    -webkit-text-size-adjust: none !important;
    -moz-text-size-adjust: none !important;
    -ms-text-size-adjust: none !important;
  }
}