@import url("./font.css");
@import "tailwindcss";

@theme {
  --font-Inter: "Inter";
  --font-copper: "copper";
  --color-primary: "#2EC4B6";
  --color-secondary: "#F4B740";
  --bg-primary: #0C121F;
  --bg-secondary: #111827;
  --color-primary: #2EC4B6;
  --color-secondary: #F4B740;
  --color-accent: #7C3AED;

}


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #0C121F;
  scrollbar-width: thin;
  scrollbar-color: #2EC4B6 rgba(255, 255, 255, 0.05);
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(50px);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

/* hide scrollbar but keep scroll */
.scrollbar-hidden {
  overflow: auto; /* یا scroll */
}

/* Chrome, Edge, Safari */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}

/* IE / old Edge */
.scrollbar-hidden {
  -ms-overflow-style: none;
}